You'll notice that CMS data file includes several columns, one for each different timeframe. It's not atypical to recieve data files where time is measure horizontally across the row, but you may need to pivot that so that have one row per time entry. As a simplified example, below is a sample of input data that has a separate column for each quarter in 2015:


Last,First,2015Q1,2015Q2,2015Q3,2015Q4 

Boal,Paul,10,9,10,8 Westhus,

Eric,9,10,10,9


When we say we want to pivot that data, what mean is that we want one row for each data value. To be specific, we say that we're going to pivot columns 2 throuh the end (assuming the first column is 0). The output of doing this looks like this:


Last,First,Time,Value 

Boal,Paul,2015Q1,10 

Boal,Paul,2015Q2,9 

Boal,Paul,2015Q3,10

Boal,Paul,2015Q4,8 

Westhus,Eric,2015Q1,9

Westhus,Eric,2015Q2,10 

Westhus,Eric,2015Q3,10 

Westhus,Eric,2015Q4,9


So, create a new module called pivot with one function in it called pivot_columns(). This function should take a list of lists as well as a list of column numbers that should be pivoted as shown in the example below. You can assume the file is a CSV. The return value should be a list of lists.

In [1]:
def pivot_columns(l, pivot_columns):
    """ 
    (list, list) -> list
    This function takes in a rectangular list of lists (a 2-d array) and a list of column numbers.
    The function assumes the first row in the list is a header row.
    The function will simply copy down all the data infront of the first pivot column.
    The function will create multiple rows for each of the input rows in the list, 
      one for each of the pivot columns.  In each of those rows will be the all of the columns
      before the first pivot column, followed by the header name for that pivot column,
      followed by the value in that pivot column.
    The output should also have a header row that contains the same header as the input
      for everything before the pivot columns, followed by 'Column' and 'Value'
    
    Input:
    [['Last','First','2015Q1','2015Q2','2015Q3','2015Q4'],
     ['Boal','Paul',10,9,10,8],
     ['Westhus','Eric',9,10,10,9]]
     
    Function Call:
    output = pivot_columns(input, list(range(2,6)))
     
    Output:
    [['Last','First','Column','Value'],
     ['Boal','Paul','2015Q1',10],
     ['Boal','Paul','2015Q2',9],
     ['Boal','Paul','2015Q3',10],
     ['Boal','Paul','2015Q4',8],
     ['Westhus','Eric','2015Q1',9],
     ['Westhus','Eric','2015Q2',10],
     ['Westhus','Eric','2015Q3',10],
     ['Westhus','Eric','2015Q4',9]]
     
    """
    
    output = []
    
    #pivot_columns.insert(len(l), max(range(2,6)))
    output = [l[0][0:min(range(2,6))]+ ['Column', 'Value']]
    for i in list(range(1, len(l))):
        for p in pivot_columns:
            output.append(l[i][0:min(range(2,6))]+ [l[0][p], l[i][p]])
    return output

In [2]:
test = [['Last','First','2015Q1','2015Q2','2015Q3','2015Q4'],
        ['Boal','Paul',10,9,10,8],
        ['Westhus','Eric',9,10,10,9]]

out = pivot_columns(test,list(range(2,6)))
print(out)
print(list(range(1, len(test)+1)))

[['Last', 'First', 'Column', 'Value'], ['Boal', 'Paul', '2015Q1', 10], ['Boal', 'Paul', '2015Q2', 9], ['Boal', 'Paul', '2015Q3', 10], ['Boal', 'Paul', '2015Q4', 8], ['Westhus', 'Eric', '2015Q1', 9], ['Westhus', 'Eric', '2015Q2', 10], ['Westhus', 'Eric', '2015Q3', 10], ['Westhus', 'Eric', '2015Q4', 9]]
[1, 2, 3]